@{
    ViewData["Title"] = "GetDatetime";
}

<h1>GetDatetime</h1>



<h1> This is my first view</h1>

<p>
    @TempData["CurrentDateTime"]
</p>


<form action="GetDatetime" method="post">
    <input type="submit" value="Get Current DateTime" />
</form>