
@{
    ViewData["Title"] = "Page2";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Page2</h1>


<p>
    Viewbag data :   @ViewBag.vbdata
</p>

<p>
    View data : @ViewData["vddata"]
</p>

<p>
    Tempdata : @TempData["tddata"]
</p>