@{
    ViewData["Title"] = "Page1";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Page1</h1>

<p>
    Viewbag data :   @ViewBag.vbdata
</p>

<p>
    View data : @ViewData["vddata"]
</p>

<p>
    Tempdata : @TempData["tddata"]
</p>