
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<div class="alert alert-danger mt-3" role="alert">
    <h4 class="alert-heading">
        <i class="bi bi-exclamation-triangle-fill"></i> Error
    </h4>
    <p>@TempData["errormsg"]</p>
</div>